@media screen and (max-width: 1000px) {
  .cards-wrapper {
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 760px) {
  .profile__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .profile__header-wrapper {
    align-items: center;
    gap: 32px;
  }

  .profile__header {
    align-items: center;
    gap: 6px;
    text-align: center;
  }

  .profile-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
  }

  .profile__image {
    width: 57%;
  }

  .profile__new-post-btn-wrapper {
    width: 100%;
  }

  .profile__new-post-btn {
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .cards-wrapper {
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 350px) {
  .content {
    padding: 0 5px;
  }
}
