.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  background-color: #fff;
  padding: 32px 50px;
  border-radius: 8px;
}

.modal__preview-container {
  position: relative;
}

.modal__close-btn {
  height: 40px;
  width: 40px;
  background-image: url(../images/close-icon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.4;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
  transition: opacity 1s ease-in;
}

.modal__preview-close-btn {
  padding: 0;
  opacity: 1;
  top: 0;
  right: -53px;
  background-image: url(../images/preview-modal-close-icon.svg);
}

.modal__preview-close-btn:hover {
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 1s ease-in;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.modal__title {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #212121b2;
  margin-bottom: 32px;
}

.modal__input {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #21212166;
  margin-top: 8px;
}

.modal__input_type_error {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  margin-top: 8px;
  border: 1px solid #ff000099;
}

.modal__input:hover {
  border: 1px solid #212121;
  transition: border 0.5s linear;
  cursor: pointer;
}

.modal__input::placeholder {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #2121214d;
  opacity: 0.7;
}

.modal__save-btn {
  max-width: 156px;
  padding: 18px 58px;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  color: #fcf5e5;
}

.modal__save-btn_inactive {
  max-width: 156px;
  padding: 18px 58px;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  color: #fcf5e5;
  opacity: 50%;
  cursor: default;
}

.modal__save-btn:hover {
  opacity: 0.8;
  transition: opacity 1s ease-in;
  cursor: pointer;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__subtitle-container {
  max-width: fit-content;
  border-radius: 8px;
  background-color: #212121;
  padding: 8px 4px;
}

.modal__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}

.modal__error {
  display: block;
  color: #ff0000b2;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  margin-top: 8px;
}

@media screen and (max-width: 627px) {
  .modal__container {
    max-width: 300px;
    padding: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__header {
    margin-bottom: 24px;
  }

  .modal__title {
    font-size: 20px;
    place-self: center;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__save-btn {
    max-width: 100%;
  }

  .modal__image {
    max-height: 75vh;
    max-width: 90vw;
  }

  .modal__subtitle {
    font-size: 16px;
  }

  .modal__preview-close-btn {
    top: -48px;
    right: 0;
  }
}
