h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #fcf5e5;
  margin: 0 auto;
}

.content {
  padding: 0 20px;
}
